<div class="header">
  <h1 class="title"> SASHA ELLEN </h1>
  <h2 class="sub-title"> ACTOR <span></span> COMEDIAN <span></span> WRITER </h2>
  <div class="nav">
    <ul class="nav-items">
      <li class="nav-item">
        <a class="nav-item-link" href="/">
          HOME
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-item-link" href="/bio">
          BIO
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-item-link" href="/press">
          PRESS
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-item-link" href="/gallery">
          GALLERY
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-item-link" href="/contact">
          CONTACT
        </a>
      </li>
    </ul>
  </div>
</div>
