<div class="image-gallery">
    <img src="/images/gallery/sasha_1.png"/>
    <img src="/images/gallery/sasha_2.png"/>
    <img src="/images/gallery/sasha_3.png"/>
    <img src="/images/gallery/sasha_4.png"/>
    <img src="/images/gallery/sasha_5.png"/>
    <img src="/images/gallery/sasha_6.png"/>
    <img src="/images/gallery/sasha_7.png"/>
    <img src="/images/gallery/sasha_8.png"/>
</div>
