<div class="image-gallery">
  <ul class="image-gallery-items">
    <li class="image-gallery-item">
      <img src="/images/gallery/sasha_1.png"/>
    </li>
    <li class="image-gallery-item">
      <img src="/images/gallery/sasha_2.png"/>
    </li>
    <li class="image-gallery-item-selected">
      <img src="/images/gallery/sasha_3.png"/>
    </li>
    <li class="image-gallery-item">
      <img src="/images/gallery/sasha_4.png"/>
    </li>
    <li class="image-gallery-item">
      <img src="/images/gallery/sasha_5.png"/>
    </li>
    <li class="image-gallery-item">
      <img src="/images/gallery/sasha_6.png"/>
    </li>
    <li class="image-gallery-item">
      <img src="/images/gallery/sasha_7.png"/>
    </li>
    <li class="image-gallery-item">
      <img src="/images/gallery/sasha_8.png"/>
    </li>
  </ul>
  <button id="next"> Next </button>
  <button id="prev"> Previous </button>
</div>
