<div class="bio">
  <img class="bio-img" src="/images/bio/sasha_4.jpg"/>
  <div class="bio-text">
    <p>Sasha is an actor, writer and stand-up comedian. She was classically trained in acting at Drama Studio London and immediately went on to write and perform in her first Edinburgh show, a rom-com called Signal Failure, at the Underbelly. The show received 4 stars from the Scotsman, Edinburgh Guide and Broadway Baby, before transferring to the Soho Playhouse in New York for a six week run. Sasha brought a sketch show called 4 Minute Warning, a show about the last 4 minutes on Earth, to the Fringe the following year. Sasha has written several sitcom scripts, which have been shortlisted for the Funny Women's Writers Award and Longlisted for BBC Writers Room- Comedy. Sasha MC's a weekly comedy night in London, called Sunday Shtick.</p>
    <p>Sasha has just come back from doing her first solo stand-up show, Accidents Happen to Sasha Ellen, at the Edinburgh Fringe. Accidents Happen sold out at the Leicester Comedy Festival and Brighton Fringe and will be on at the Soho Theatre in October.</p>
    <p>For full acting credits please see Sasha’s Spotlight profile: <a href="http://www.spotlight.com/4938-8974-8453">http://www.spotlight.com/4938-8974-8453</a></p>
  </div>
</div>
