<div class="contact">
  <form class="contact-form" action="mailto:sasha@sashaellen.com" method="post" enctype="text/plain">
    <label>Name:</label><br>
    <input type="text" name="name"><br>
    E-mail:<br>
    <input type="text" name="mail"><br>
    Subject:<br>
    <input type="text" name="subject"><br>
    Comment:<br>
    <textarea type="text" name="comment" size="100"></textarea><br>
    <input type="submit" value="Send">
  </form>
</div>
