<div class="gallery">
  <div class="gallery-item"> AWAITING IMAGE </div>
  <div class="gallery-item"> AWAITING IMAGE </div>
  <div class="gallery-item"> AWAITING IMAGE </div>
  <div class="gallery-item"> AWAITING IMAGE </div>
  <div class="gallery-item"> AWAITING IMAGE </div>
  <div class="gallery-item"> AWAITING IMAGE </div>
  <div class="gallery-item"> AWAITING IMAGE </div>
  <div class="gallery-item"> AWAITING IMAGE </div>
</div>
