<div class="gallery">
  <div class="press-quote-heading"> PHOTOS </div>
  {{> imageGallery }}
  <div class="press-quote-heading"> VIDEOS </div>
    <div class="youtube">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/gquegadf8x8" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
