<div class="home">
  <div class="image-fade">
    <img id="img-1" src="/images/home/sasha_3.png"/>
    <img id="img-2" src="/images/home/sasha_2.png"/>
    <img id="img-3" src="/images/home/sasha_1.png"/>
  </div>
</div>
