<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/vendor/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/slick/slick-theme.css"/>
    <link href='https://fonts.googleapis.com/css?family=Lato:900|Ropa+Sans' rel="stylesheet">
  </head>
  <body>
    <script src="/javascripts/image-gallery.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/vendor/slick/slick.min.js"></script>
    {{> header }}
      {{{body}}}
    {{> footer }}
  </body>
</html>
