<div class="press">
  <div class="press-quote">
    <span class="four-stars"></span>
    <div class="press-quote-text">
      “Rife with cheeky humour... upfront and witty”
    </div>
    <div class="press-quote-title">
      BROADWAY BABY
    </div>
  </div>
  <div class="press-quote">
    <span class="four-stars"></span>
    <div class="press-quote-text">
      “Performed by Sasha Ellen and Spencer Cowan (think Reese Witherspoon and Jude Law in their youthful prime), this is a bittersweet, honest and truthful romantic comedy with emotional heart”
    </div>
    <div class="press-quote-title">
      EDINBURGH GUIDE
    </div>
  </div>
  <div class="press-quote">
    <span class="four-stars"></span>
    <div class="press-quote-text">
      "Genuinely fresh"
    </div>
    <div class="press-quote-title">
      THE SCOTSMAN
    </div>
  </div>
  <div class="press-quote">
    <div class="press-quote-text">
      “Honest, hilarious and horrifying… the comedy future looks good for Ellen”
    </div>
    <div class="press-quote-title">
      CANAL-ST
    </div>
  </div>
  <div class="press-quote">
    <div class="press-quote-text">
      “Likable, chirpy comedian… always engaging”
    </div>
    <div class="press-quote-title">
      CHORTLE
    </div>
  </div>
  <div class="press-quote-heading">
    REVIEWS FROM NEW YORK
  </div>
  <div class="press-quote">
    <div class="press-quote-text">
      “Ellen will surely go on to do great things”
    </div>
    <div class="press-quote-title">
      WASHINGTON SQUARE NEWS
    </div>
  </div>
  <div class="press-quote">
    <div class="press-quote-text">
      “Ellen was lovely in (her) role... Signal Failure is definitely a success”
    </div>
    <div class="press-quote-title">
      RAVEREVIEWS
    </div>
  </div>
  <div class="press-quote">
    <div class="press-quote-text">
      “The actors were both so good, so charming, really believable… Sasha Ellen has a great future as an actor and writer”
    </div>
    <div class="press-quote-title">
      Michael Portantiere on Broadway Radio
    </div>
  </div>
  <div class="press-quote">
    <div class="press-quote-text">
      “(Sasha Ellen’s) considerable comedic and dramatic talents are well showcased here”
    </div>
    <div class="press-quote-title">
      TheatreScene
    </div>
  </div>
</div>
